{% load cart_template_tags %}
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'home' %}">
        <strong class="blue-text">Fossil Watches</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
        {% comment %} 
            <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'products' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'checkout' %}" target="_blank">Checkout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
              target="_blank">Free download</a>
          </li>
          {% endcomment %}
        </ul> 

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
            {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'order-summary' %}">
              <span class="badge red z-depth-1 mr-1"> {{request.user|cart_item_count}} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
              <span class="badge red z-depth-1 mr-1"> Logout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="badge red z-depth-1 mr-1"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="badge red z-depth-1 mr-1"> SignUp </span>
            </a>
          </li>


          {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  {% comment %} <header>
    <a href="#" class="logo">
      <img src="{% static 'assets/logo.png' %}" width="200px" height="65px" alt="FOSSIL" />
    </a>

    <div class="toggle" onclick="toggleMenu()"></div>
    <ul class="navigation">
      <li><a href="#">Home</a></li>
      <li><a href="{% url 'products' %}">Products</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="#contact_us">Contact</a></li>
    </ul>
  </header> {% endcomment %}


  {% comment %} <script>
      function toggleMenu() {
      const menuToggle = document.querySelector(".toggle");
      const navigation = document.querySelector(".navigation");
      menuToggle.classList.toggle("active");
      navigation.classList.toggle("active");
    }
  
  </script> {% endcomment %}