@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.page_1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161616;
}

section .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #e51e2a; */
  background: #2fa4ff;
  -webkit-clip-path: circle(70% at right -20%);
          clip-path: circle(70% at right -20%);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  position: relative;
  max-width: 150px;
}

header .navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation li {
  list-style: none;
}

header .navigation li a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

header .navigation li a:hover {
  color: #161616;
}

.content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
  margin-right: 20px;
}

.content .textBox h1 {
  color: #fff;
  font-size: 3em;
  margin-bottom: 10px;
  line-height: 1.4em;
  font-weight: 700;
}

.content .textBox p {
  color: #fff;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  /* background: #e51e2a; */
  background: #2fa4ff;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
}

.content .textBox a:hover,
content.textBox a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.9;
}

.features {
  background: #161616;
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

#features {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
}

#features .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 30px;
}

#features .card .icon {
  max-width: 100%;
  width: 250px;
}

#features .card .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5;
}

#features .card .content h2 {
  padding-bottom: 1rem;
}

/* Slider Animation */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.content .imgBox {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content .imgBox img {
  max-width: 300px;
}

.swiper-slide img {
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.background_video {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161616;
  color: #fff;
  z-index: 2;
}

.background_video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.background_video .text {
  position: relative;
  z-index: 10;
  opacity: 0.5;
}

.background_video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.2);
}

.background_video .text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.background_video .text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2fa4ff));
  background: linear-gradient(transparent, #2fa4ff);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#00c6ff));
  background: linear-gradient(transparent, #00c6ff);
}

.section-title {
  text-align: center;
  color: #fff;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  margin-bottom: 5rem;
}

.featured {
  background: black;
}

.featured__items {
  display: block;
  position: relative;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}

.featured__items:hover, .featured__items:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured__items:hover .featured_details, .featured__items:focus .featured_details {
  opacity: 1;
  text-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
}

.featured__items::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 0%;
  padding: 100% 100% 0 0;
  background: #a3d8f4;
  border-radius: 5%;
  z-index: -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured_details {
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.featured_details span {
  display: block;
  font-weight: 700;
  font-size: 2rem;
}

.footer-section {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.footer-col-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-2 p {
  text-align: left;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
  margin-right: 20px;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.app-logo img:hover {
  width: 140px;
  margin-right: 20px;
  scale: 1.1;
}

.footer-col-3 {
  padding-top: 50px;
}

.footer-col-4 {
  padding-top: 20px;
}

.footer-col-3 ul,
.footer-col-4 ul {
  list-style-type: none;
}

.footer-col-3 ul li,
.footer-col-4 ul li {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-col-3 ul li a,
.footer-col-4 ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-col-3 ul li:hover,
.footer-col-4 ul li:hover {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

@media (max-width: 991px) {
  header {
    padding: 40px;
  }
  .page_1 {
    padding: 50px;
  }
  .content {
    padding-top: 30px;
  }
  .content .textBox h1 {
    color: #fff;
    font-size: 2.3em;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: 700;
  }
  .content .textBox p {
    padding-top: 10px;
    font-size: 1em;
    color: #fff;
  }
  section {
    padding: 150px 40px;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10%;
  }
  .content .textBox,
  .content .imgBox {
    margin-top: 10%;
    max-width: 100%;
  }
  .swiper-slide {
    width: 270px;
    height: 400px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #e51e2a; */
    background: #2fa4ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
  }
  header .navigation li a {
    margin: 10px 0px;
    font-size: 1.5em;
    font-weight: 300;
  }
  header .navigation li a:hover {
    color: #161616;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(/assets/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
  }
  .toggle.active {
    position: fixed;
    right: 40px;
    background: url(/assets/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .features .card .icon {
    display: none;
  }
  .features .card .content {
    text-align: left;
  }
  .background_video {
    padding: 40px;
  }
  .background_video .text h2 {
    font-size: 3em;
  }
}

.featured {
  line-height: 1.6;
}

.featured_img {
  max-width: 100%;
  display: block;
}

.featured .container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.featured {
  padding: 7em 0;
  margin: 0;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 15em;
}
/*# sourceMappingURL=main.css.map */